* {
    /* border: 1px solid rgb(170, 170, 170); */
    /* color: rgb(82, 82, 82); */
    font-family: sans-serif;
}

h1,
p,
label,
span {
    color: rgb(82, 82, 82);
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #e4d4c9;
}

h1 {
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.form-button {
    height: 25px;
    width: 100px;
    background-color: #b4b4b4;
    color: white;
    border: 1px solid rgb(102, 101, 101);
}

.form-button:hover {background-color: #7d7d7d;} 

 /* Dropdown Button */
.dropbtn {
    background-color: #81756c;
    color: white;
    padding: 10px 16px;
    font-size: 14px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    border: 1px solid rgb(170, 170, 170);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .dropdown-option {
    color: rgb(110, 98, 98);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-option:hover {
    background-color: #ddd;
    border: 1px solid rgb(170, 170, 170);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #655b55;} 

.dropdown-option {
    width: 100%;
    border: 1px solid rgb(170, 170, 170);
}

#mainField {
    width: 500px;
    margin: 10px;
}

#dbField {
    width: 500px;
    margin: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-container {
    width: 80vw;
}

#loginForm,
#signupForm {
    display: flex;
    flex-direction: column;
    border: 3px solid #81756c;
    padding: 15px 15px 0px 15px;
}

.usernameField,
.passwordField {
    margin: 10px 0px;
}

.loginbtn {
    height: 25px;
    width: 100px;
    background-color: #b4b4b4;
    color: white;
    border: 1px solid rgb(102, 101, 101);
}

#loginDiv,
#signupDiv {
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkBtn {
    border: none;
    background: none;
    font-size: 14px;
}
.linkBtn:hover {
    text-decoration: underline;
    color:#655b55;
}

.linkTxt {
    font-size: 14px;
    color:#655b55;
}

.formHeader {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 15px 0px 30px 0px;
    font-size: 20px;
    font-weight: bold;
}

.linkContainer {
    margin-top: 20px;
}

#logoutBtn,
#guestBtn {
    position: absolute;
    right: 25px;
    top: 25px;
}

.dbStoryTitle {
    margin: 10px;
    font-weight: bold;
}

.dbStoryText {
    margin: 10px;
    width: 80vw;
}

#saveStoryMain {
    margin: -10px 0px 10px 0px;
}